body {
  margin: 0;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    background-image: url("../img/image.png");
}

.counter-wrapper {
  min-height: 10rem;
  text-align: center;

  flex: auto;
}

.digit-box {
  background: darkgray;
  border-radius: 0.5rem;
  padding: 2rem;
  font-size: 2.5rem;
  margin: 0.2rem;
  
}

.digit-box.icon {
  font-size: 2rem;
}

